<mat-card class="visits-chart">
  <mat-card-title class="visits-chart__header">
    <h5 class="visits-chart__title">Insights</h5>
  </mat-card-title>

  <mat-card-content class="visits-chart__content">

    <div class="visits-chart__content-stats">
      <div>
        <p class="visits-chart__content-stats-title">Users</p>
        <p class="visits-chart__content-stats-data">{{visitsChartData.userCounts}}</p>
      </div>

      <div>
        <p class="visits-chart__content-stats-title">Today Survey</p>
        <p class="visits-chart__content-stats-data">{{visitsChartData.todaySurveyCount}}</p>
      </div>

      <div>
        <p class="visits-chart__content-stats-title">Total User Survey</p>
        <p class="visits-chart__content-stats-data">{{visitsChartData.totalUserSurveyCount}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
