<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Dashboard</h1>
  </mat-toolbar>

  <div class="charts-wrapper">
    <div class="chart" *ngIf="userType === 'admin' ">
      <app-visits-chart [visitsChartData]="visitsChartData$"></app-visits-chart>
    </div>
    <div class="chart" *ngIf="userType === 'admin' ">
      <app-revenue-chart [revenueCharData]="revenueChartData$"></app-revenue-chart>
    </div>
  </div>

  <app-support-requests [supportRequestData]="supportRequestData$"></app-support-requests>

</app-layout>
