<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>
  <mat-list-item *ngIf="userType === 'admin' " routerLink="{{routes.CREATE_SURVEY}}" routerLinkActive="active">
    <mat-icon>create</mat-icon> Create Survey
  </mat-list-item>
  <mat-list-item *ngIf="userType === 'admin' " routerLink="{{routes.SURVEY_LIST}}" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> Survey Invite
  </mat-list-item>
  <mat-list-item *ngIf="userType === 'admin' " routerLink="{{routes.ADMIN_USER_SURVEY_LOG}}" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> User Survey Log
  </mat-list-item>
  <mat-list-item *ngIf="userType === 'user' " routerLink="{{routes.USER_SURVEY_LIST}}" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> User Survey List
  </mat-list-item>
</mat-list>
